---
import type { HTMLAttributes } from "astro/types";

export interface LinkProps extends HTMLAttributes<"a"> {
  href: string;
  variant?: "primary" | "secondary" | "ghost" | "icon";
}

const { href, variant = "primary", ...rest } = Astro.props;
---

<a href={href} class:list={["link", variant]} {...rest}>
  <slot />
</a>
