---
import Layout from "@/layouts/Layout.astro";

import ProjectWrapper from "@/componets/home/Projects.astro";
import Heading from "@/componets/ui/Heading.astro";
---

<Layout title="My Recent Projects">
  <div class="container rows">
    <Heading tagName="h1" tagSize="h1">Latest Projects</Heading>
    <ProjectWrapper />
  </div>
</Layout>
