<footer>
  <p>
    &copy; <span id="copyright"></span> Steven Wong. All rights reserved. I'm a Web
    Developer passionate about creating innovative and user-friendly websites.
  </p>
</footer>

<script>
  const copyrightSpan = document.querySelector(
    "#copyright"
  ) as unknown as HTMLSpanElement;

  copyrightSpan.textContent = new Date().getFullYear().toString();
</script>
