---
import "@/styles/global.css";
import BaseHead from "@/layouts/BaseHead.astro";
import Footer from "./Footer.astro";
---

<!doctype html>
<html lang="en">
  <BaseHead {...Astro.props} />
  <body>
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
